@import '~@blueprintjs/core/lib/css/blueprint.css';

.app-content {
  margin: 1rem 1rem 0;
}

.invoice-edit__addresses {
  display: flex;
  padding: 2rem 0;
}

.invoice-edit__me,
.invoice-edit__customer {
  width: 15rem;
}

.invoice-edit__customer {
  flex: 1;
}

.invoice-edit__me {
  flex: 1;
}

.invoice-line-item__name {
  width: 50%;
}
.invoice-line-item__quantity {
  width: 6rem;
}
.invoice-line-item__price {
  width: 8rem;
}
